{{!empty ReferralViewTmpl template}}
<td> {{ EXP_HRN }} </td>
<td style="text-align: left;"> {{ EXP_NAME }} </td>
<td> {{ DATE_CREATED }}</td>
<td> {{ CPT_SERVICE_CATEGORY_NAME }}</td>
<td> {{ REQUESTING_PROVIDER_NAME }} </td>
<td> {{ REFERRAL_ID }} </td>
<td> {{ CHS_APPROVAL_STATUS }} </td>
<td> {{ STATUS_OF_REFERRAL }} </td>
